
Temp/UnityLockfile
Temp/FSTimeGet-41e7d1b1a6cfaac4d8491610bf32a7b0
Logs/shadercompiler-UnityShaderCompiler.exe-0.log
Library/UndoStack.bin
Library/UndoData.bin
Library/SourceAssetDB
Library/PackageManager/ProjectCache
Library/Bee/fullprofile.json
Library/Bee/1900b0aEDbg.dag.json
Library/ArtifactDB
